@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* > Design Variable */
:root {
  --pr-clr: #2095b2;
  --acc-clr: #f79234;
  --white: white;
  --lght-gray: #cccccc36;
  --drk-gray: #d2d2d27d;
  /* ! Text */
  --txt-dark: #334a52;
  --txt-light: #5b5b5be6;
  --txt-extralight: #505050d6;
  /* # Font Size */
  --fz: clamp(14px, 1.5vw, 1rem);
  /* # background */
  --bg-warm: #90715924;
  /* ! */
  --trans: all 0.3s ease;
  --shadow: 1px 2px 3px var(--lght-gray);
  --lght-shadow: 0 0 16px #50505018;
}
/* > END ## Design Variable */
body {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  background-color: #eee;
}
.redAlert {
  border-bottom: 2px solid red !important;
  background-color: #f0ad8e27 !important;
  transition: all 600ms ease-in-out;
}
h1 {
  padding: 20px;
  margin: 0 0 20px;
  text-align: center;
  color: var(--txt-dark);
  background-color: var(--lght-gray);
}
main {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  /* gap: 1rem; */
  flex-wrap: wrap;
  padding: 1rem;
}

.first-wrapper {
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 20px auto;
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 98dvw;

    .alert {
      position: absolute;
      top: -2.2rem;
      text-align: center;
      color: rgba(154, 19, 19, 0.815);
      font-size: 20px;
      transition: opacity 700ms ease-in-out;
      opacity: 0;
      font-family: system-ui, sans-serif;
      text-transform: capitalize;
    }
    .add-box {
      background-color: var(--white);
      padding: 20px;
      h2 {
        margin: 0 0 20px;
        color: var(--txt-dark);
      }
      h5 {
        color: var(--txt-dark);
        padding-left: 0.2rem;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        font-weight: 500;
        font-size: 0.9rem;
        background-color: var(--lght-gray);
      }
      input {
        width: 100%;
        padding: 15px;
        margin-bottom: 20px;
        border: none;
        border-bottom: 2px solid var(--lght-gray);
        background-color: var(--white);
      }
      input::placeholder {
        font-size: var(--fz);
      }
      input:focus {
        outline: none;
        background-color: #cccccc6c;
      }
      textarea {
        resize: none;
        margin-top: 0.4rem;
        margin-bottom: 0.4rem;
        min-width: 100%;
        margin-bottom: 1rem;
        height: 150px;
        border: 1px solid var(--lght-gray);
        padding: 0.8rem;
        font-family: "Rubik", sans-serif;
        font-size: 12px;
        font-weight: 300;
      }
      textarea:focus {
        outline: none;
        border: none;
        background-color: var(--lght-gray);
        border-radius: 5px;
      }
      .add {
        padding: 8px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 100%;
        border: none;
        color: var(--white);
        font-weight: bold;
        font-size: 1rem;
        letter-spacing: 1px;
        cursor: pointer;
        box-shadow: var(--shadow);
        background-color: var(--pr-clr);
        img {
          width: 24px;
        }
      }
    }
  }
}
.second-wrapper {
  padding-left: 15px;
  padding-right: 15px;
  .events {
    padding: 0 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    gap: 1rem;
    .event {
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
      padding: 20px;
      width: 100%;
      background-color: var(--bg-warm);
      border-bottom: 2px solid var(--acc-clr);
      box-shadow: var(--shadow);
      .event-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3 {
          color: var(--txt-light);
        }
        p {
          font-size: var(--fz);
          background-color: #fff;
          border-radius: 4px;
          padding: 0.3rem 0.4rem;
          box-shadow: var(--shadow);
          border: 1px solid var(--txt-light);
          font-weight: 500;
          color: var(--acc-clr);
          span {
            color: var(--txt-dark);
            font-style: italic;
            font-weight: 300;
          }
        }
      }
      .description {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        align-items: center;
        justify-content: space-between;
        margin-top: 1rem;
        width: 100%;
        gap: 2rem;
        .desc-section-left {
          width: 100%;
          margin: 0 auto;
          h5 {
            color: var(--txt-extralight);
          }
          p {
            min-height: 50px;
            padding-top: 0.3rem;
            padding-left: 1%;
            padding-right: 3%;
          }
        }
        .desc-section-right {
          width: 100%;
        }
      }
      p {
        color: var(--txt-extralight);
        font-weight: normal;
        font-size: var(--fz);
      }
      button {
        width: 100%;
        margin-top: 0.5rem;
        padding: 4px 2px 5px 2px;
        border: none;
        color: var(--white);
        font-size: 1rem;
        letter-spacing: 1px;
        cursor: pointer;
        background-color: var(--pr-clr);
        box-shadow: var(--shadow);
        transition: var(--trans);
      }
      button:hover {
        opacity: 0.8;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  body {
    max-width: 100dvw;
  }
  body h1 {
    font-size: 1.8rem;
    margin-bottom: 1.2rem;
    padding: 0.8rem;
  }
  main {
    padding: 0;
    margin: 0;
  }
  .first-wrapper {
    margin: 0.2rem;
    .container {
      margin: 0;
      padding: 0 10px;
    }
  }
  .event {
    .event-head {
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      padding: 0;
    }
    .container .alert {
      max-width: 100%;
      font-size: 10px;
    }
  }
  .second-wrapper {
    padding: 0 10px;
    max-width: 100%;
  }
  .description {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
@media screen and (min-width: 992px) {
  main {
    display: grid;
    grid-template-columns: 45% 55%;
    align-items: start;
    max-width: 95vw;
  }
  .first-wrapper {
    .container {
      margin-top: 0;
    }
  }
  .desc-section-right {
    margin: 0;
  }
  .desc-section-right {
    margin-left: auto;
  }
}
@media screen and (min-width: 1440px) {
  main {
    display: grid;
    max-width: 65%;
    gap: 0.1rem;
  }
}
